.cardsgrid{
    background: rgb(255,255,255);
  
}

.cardsgrid h1{
    margin-bottom: 0;
    margin-left: 40px;
    text-align: start;
    padding: 0px 0;
    font-size: 4rem;
    font-family: 'Poppins';
    position: relative;
}

.cardsgrid p{
    margin: 0 80px;
    margin-bottom:200px;
    padding: 0 0;
    text-align: start;
    font-size: 1.8rem;
    font-family: 'Poppins';
    position: relative;
}




.wall-container {
  position: relative; /* Make the container a positioning context for absolute positioning */

}

.bg-img {
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 0;
  height: 45vh;
  object-fit: cover;
  overflow: hidden;
}


@media (max-width: 767px) {
  
  .cardsgrid h1{
    margin-bottom: 0;
    margin-left: 40px;
    text-align: start;
    padding: 0px 0;
    font-size: 2rem;
    font-family: 'Poppins';
    position: relative;
}

.cardsgrid p{
    margin: 0 40px;
    margin-bottom:200px;
    padding: 0 0;
    text-align: start;
    font-size: 1.8rem;
    font-family: 'Poppins';
    position: relative;
}
.wall-container {
  position: absolute; /* Make the container a positioning context for absolute positioning */

}

.bg-img {
  position: absolute;
  width: 100vw;
  transform: translateY(5%);
  top: 0;
  left: 0;
  z-index: 0;
  height: 45vh;
  object-fit: cover;
  overflow: hidden;
}
}
