/* src/components/MeetTheTeam.css */

/* Styling for the main container */
.meet-the-team {
  text-align: center;
  padding: 20px;
  background: rgb(255,255,255);
background: linear-gradient( rgba(255,255,255,1) 19%, rgba(255,228,179,1) 100%);

  background-attachment: fixed; /* Adjust the gradient colors as needed */

  
}

/* Styling for section headings */
.team-section h2 {
  font-size: 24px;
  margin-bottom: 0px;
  font-family: 'Poppins';
  
}

/* Styling for team members */
.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.team-member {
  width: 15.625vw;
  height: 39.21vh;
  margin-top: 10px;
  margin-bottom: 5%;
  margin-right: 2%;
  margin-left:2%;
  padding: 2%;
  background-color: rgb(255, 255, 255, 0)
  /*
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  */
}

.team-member img {
  width: 90%;
  height: 80%;
  object-fit: cover;
  
}

.team-member p {
  margin-top: 10px;
  font-size: 20px;
  font-family: 'Poppins',Arial, sans-serif
}

.team-member p2 {
  font-size : 15px;
  font-family: Helvetica-Light,Arial, sans-serif

}

.team-members-boss {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 60px;
}

.team-members-boss .team-member{
  width: 380px;
  margin-top: 10px;
  margin-bottom: 18vh;
  margin-right: 40px;
  margin-left:40px;
  padding: 10px;
  background-color: rgba(0,0,0,0.0)

}

.team-members-boss .team-member img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  
}

@media (max-width: 768px) {
  .team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.team-member {
  width: 40.625vw;
  height: 39.21vh;
  margin-top: 10px;
  margin-bottom: 5%;
  margin-right: 2%;
  margin-left:2%;
  padding: 2%;
  background-color: rgb(255, 255, 255, 0)
  /*
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  */
}

.team-member img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  
}

.team-member p {
  margin-top: 10px;
  font-size: 20px;
  font-family: 'Poppins',Arial, sans-serif
}

.team-member p2 {
  font-size : 15px;
  font-family: Helvetica-Light,Arial, sans-serif

}

}