body, .card-container {
    margin: 0;
    padding: 0;
}

.card-container{
    width: 100vw;
    
    background-color: #ff0000;
    display: flex; /* Add this line to make the cards flex containers */
    flex-wrap: wrap;

}

.picture-container {
    
    height: 100%; /* Fill the height of the card */
    display: flex;
    max-width: 50%; /* Limit the max-width of the image */
    overflow: hidden;

}

.card{
    width: 100vw;
    height: 70vh;
    
}

.card-content {
    display: flex;
    height: 100%;
    align-items: center;

}

.image-on-left {
    flex-direction: row;
    background-color: #ffffff
}

.image-on-right {
    flex-direction: row-reverse;
    background-color: #ffffff

    
}

.writeup {
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 250px;
  padding: 24px;
  color: #CC5500;
  width: 50%;
}



.title-text{
    text-decoration: none ;
    color: #CC5500;
    font-weight: bold;
    font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
    font-size: 3rem;
}

@media (max-width: 767px) {
    
.card-content {
        flex-direction: column; /* Stack the items in a column */
        align-items: center;
        text-align: center;
        padding-top: 120px;
        border: 1px solid rgb(218, 218, 218);
    }

    .picture-container {
        max-width: 100%; /* Allow the image to take full width */
        order: 1;
    }

    .picture-container img {
        width: 100%; /* Make the image take full width */
        height: auto; /* Reset height to maintain aspect ratio */
        transform: translate(0,-40%);
    }

    .writeup {
        width: 100%; /* Make the text take full width */
        margin-bottom: 20px; /* Adjust spacing as needed */
        order: 2;
       transform: translate(0,-100%);

    }
    
    .title-text {
        font-size: 2rem; /* Adjust font size for mobile */

    }
}