/* ContentPage.css */

.content-page {
  max-width: 100vw;
  margin: 1vh 2vw;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.content-page h2 {
  display: flex;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 10px;
  color: #333;
  font-family: "Poppins"

}

.content-page img {
  max-width: 50%;
  height: auto;
  margin-bottom: 20px;
  align-items: center;


}
.content-text {
  display: flex;
  flex-direction: column;
}

.content-page Description {
  font-size: 1rem;
  line-height: 1.5;
  color: #555;
  font-family: "Poppins";
  justify-content: left;
}

.Names {
  font-size: 1rem;
  margin-top: auto;
  font-family: "Poppins"
}

.collaborators {
  margin-top: auto;
}

.collaborators a {
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
  color: #cc5500;
  font-weight: bold;
  font-family: "Poppins";
}

@media (max-width: 767px) {


  .content-page {
  max-width: 100vw;
  margin: 1vh 2vw;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.content-page h2 {
  display: flex;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 10px;
  color: #333;
  font-family: "Poppins"

}

.content-page img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  margin-top:-1vh;
  align-items: center;


}
.content-text {
  display: flex;
  flex-direction: column;
}

.content-page Description {
  font-size: 1rem;
  line-height: 1.5;
  color: #555;
  font-family: "Poppins"
}

.Names {
  font-size: 1rem;
  margin-top: auto;
  font-family: "Poppins"
}

.collaborators {
  margin-top: auto;
}

.collaborators a {
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
  color: #cc5500;
  font-weight: bold;
  font-family: "Poppins";
}

  
}