

.hero-container {

  width: 100vw;
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  background-color: black; /* Set the background color */
  position: relative;
  top: -100px;
}



.hero-slider {
  width: 100vw;
  height: auto; /* Adjust as needed */
  overflow: hidden;
  background-color:black;
  
}
.video-title {
  position: absolute;
  bottom: 55%; /* Adjust the value to position the title vertically */
  left: 50%;
  transform: translateX(-50%);
  color: white; /* Set the color of the title */
  font-size: 120px;; /* Set the font size of the title */
  font-family: 'Helvetica-Bold';
  text-shadow: 5px 5px 0px #CC5500; /* Add a text shadow for better visibility */
  z-index: 2; /* Ensure the title is above the video */
}

.video-subtitle {
  position: absolute;
  bottom: 66%; /* Adjust the value to position the title vertically */
  left: 50%;
  transform: translateX(-50%);
  color: white; /* Set the color of the title */
  font-size: 40px;; /* Set the font size of the title */
  font-family: 'Helvetica-Bold';
  text-shadow: 3px 3px 0px #CC5500; /* Add a text shadow for better visibility */
  z-index: 2; /* Ensure the title is above the video */
}
.text-three {
  position: absolute;
  bottom: 60%; /* Adjust the value to position the title vertically */
  left: 50%;
  transform: translateX(-50%);
  color: white; /* Set the color of the title */
  font-size: 40px;; /* Set the font size of the title */
  font-family: 'Helvetica-Bold';
  text-shadow: 3px 3px 3px #000000;
  
  z-index: 2; /* Ensure the title is above the video */
}

.ut-logo {
  position:absolute;
  bottom: 40%; /* Adjust the value to position the title vertically */
  transform: translateX(-50%);
  max-width: 500px; /* Adjust the maximum width as needed */
}




@media screen and (max-width: 960px) {
  .hero-container {
    height: auto;
    padding: 20px; /* Add padding to center content vertically and horizontally */
    text-align: center;
  }

  

  .video-title {
    font-size: 36px; /* Adjust font size for mobile */
    bottom: 35%;
  }

  .video-subtitle {
    font-size: 18px; /* Adjust font size for mobile */
    bottom: 56%;
  }

  .text-three {
    font-size: 18px; /* Adjust font size for mobile */
    bottom: 35%;
  }

  .ut-logo {
    max-width: 300px; /* Adjust the maximum width for mobile */
    margin-top: 20px; /* Add margin to separate logo from text */
    bottom: 5%;
  }

  .hero-slider {
    height:40vh; /* Resize the video to half the screen width */
    max-width: 100vw; /* Remove the max-width constraint */
    width: auto;
    
     /* Maintain aspect ratio */
  }
}