.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  z-index: 2;
}

.sections-container {
  display: flex;
  width: 100%;
  z-index: 2;
}

.introduction {
  flex: 1;
  background-color: #ffffff;
  border-right: 1px solid lightgrey;
  padding: 20px;
  z-index: 2;
}

.news {
  flex: 1;
  padding: 20px;
  max-height: 700px;  

}
.newscards{
  overflow-y: auto;
  max-height: 550px;

}

.intro-text {
  text-align: start;
}

.intro-text h4 {
  font-size: 3.8rem;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: 'Poppins';
  text-align: center;
  color: #cc5500

  
}

.intro-text p {
  font-size: 1.4rem;
  color: #585858;
  font-family: 'Poppins';
}

.button-container {
  display: flex;
  justify-content: center;
  
  margin-top: 20px;

}

.btn--primary{
    background-color: #CC5500;
    border: 1px solid #cc5500;
   
    color: white;
}

.news-date{
  
  border-radius:100%;
  width: 9.375vw;
  height: 9.375vw;
  font-family: 'Poppins';
  border: 3px solid #cc5500;
  color: #cc5500;
  text-align: center;

}

.news-date .news-month{
  font-weight: bolderc;
  color: #cc5500;
  padding: 0 0;
  margin-top: 20%;
  margin-bottom: 0;
  line-height: 2.6vh;
  font-size: 3rem;
}

.news-date .news-day{
  color: #cc5500;
  margin-top: 0;
  font-weight: lighter;
  font-size: 5rem;

}

.news-card {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  padding: 25px;
  padding-right: 0;
  margin-right: 0;
  border-radius: 20px;
  margin-bottom: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 2;
  color: #585858
}

.news-content {
  margin-left: 100px;
  font-size: 1.4rem;
  z-index:2;
  max-width:28vw;
  width: 40vw;
  padding-right: 0;
  
}

.news-content .links{

   text-decoration: none;
   color: #585858;
   text-align: right;
}


.news h5{
  font-size: 3.8rem;
  text-align: center;
  font-family: 'Poppins';
  color: #cc5500;

  
}

@media (max-width: 768px) {
  .intro-container {
    padding: 10px; /* Reduced padding for smaller screens */
  }

  .sections-container {
    flex-direction: column; /* Stack sections vertically on mobile */
  }

  .introduction{
    flex: 1; /* Equal distribution of space */
    width: 100%; /* Full width for each section */
    max-height: 100vh; /* Remove max-height */
    border-right: none; /* Remove the border for introduction */
    padding: 10px; /* Reduced padding for smaller screens */
    padding-bottom: 60px;
    overflow-y: scroll;
    font-size: 1rem;
  }
  .news {
    flex: 1; /* Equal distribution of space */
    width: 100%; /* Full width for each section */
    max-height: 50vh; /* Remove max-height */
    border-right: none; /* Remove the border for introduction */
    padding-top: 60px; /* Reduced padding for smaller screens */
    overflow-y: scroll;
    font-size: 1rem;
    border-top: 1px solid rgb(218,218,218);

  }

  .button-container {
    margin-top: 10px; /* Adjusted margin for button container */
  }

  /* Style adjustments for text */
  .intro-text h4 {
    font-size: 2.4rem; /* Smaller font size for headings */
    text-align: center;
    margin-bottom: 10px;
  }

  .intro-text p {
    font-size: 1rem; /* Smaller font size for paragraphs */
  }

  /* Style adjustments for the "Learn More" button */
  .btn--primary {
    font-size: 1.2rem;
    padding: 10px 20px;
  }

  /* Style adjustments for the "News" section heading */
  .news-date{
  
  border-radius:100%;
  width: 7rem;
  height: 7rem;
  font-family: 'Poppins';
  border: 3px solid #cc5500;
  color: #cc5500;
  text-align: center;

}

.news-date .news-month{
  font-weight: bolder;
  color: #cc5500;
  padding: 0 0;
  margin-top: 20%;
  margin-bottom: 0;
  line-height: 2.6vh;
  font-size: 2rem;
}

.news-date .news-day{
  color: #cc5500;
  margin-top: 0;
  font-weight: lighter;
  font-size: 3rem;

}

.news-card {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  padding: 25px;
  margin-right: 0;
  border-radius: 20px;
  margin-bottom: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 2;
  color: #585858
}

.news-content {
  margin-left: 100px;
  font-size: 1rem;
  z-index:2;
  padding-right: 0;
  margin-right: 0;
  
}

.news-content .links{

   text-decoration: none;
   color: #585858;
   text-align: right;
}


.news h5{
  font-size:2.4rem;
  text-align: center;
  font-family: 'Poppins';
  color: #cc5500;

  
}
}

