.main-page{
  max-width: 100vw;
  height: 80vh;
  margin: 4vh 4vw;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}



.main-page img {
  display: flex;
  width: 40%;
  height: 100%;
  margin-bottom: 20px;
  align-items: center;
  object-fit: cover;
  overflow: hidden;

}


.associated-projects {

}




.associated-projects h2{
  display: flex;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 10px;
  color: #333;
  font-family: "Poppins";
  margin-left: 4vw;

}

.associated-projects h3{
  display: flex;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 10px;
  margin-left: 4vw;
  color: #333;
  font-family: "Poppins";
  margin-left: 4vw;
  transform: translate(0,23vh);

}

.projects-content {
  display: grid;
  transform: translate(0,23vh);
  grid-template-columns: repeat(auto-fill, minmax(16vw, 1fr)); 
  gap: 1vh;
  max-height: 50vh;
  list-style: none;
  max-width: 50vw;
  overflow-y: scroll;
  margin-left:3vw;
}


.projects-content li {
  display: flex;
  padding: 10px; /* Add padding as needed */
  text-align: left;
  font-family: "Poppins";
  font-size: 1rem;
  color: #333;
  text-decoration: none;
}


.main-page .projects-content li a {
  text-decoration: none;
  color: #333;
  font-family: "Poppins"
}


.projects-content li a:hover{
  text-decoration: none;
  color: #ebcece;
  font-family: "Poppins"
}