.cards {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin: 10px;
  width: 440px;
  display: flex;
  flex-direction: column;
}

  

.cards .card-title {
  font-size: 2rem;
  font-family: 'Poppins';
  text-align: center;
  margin: 20px auto;
  color: #cc5500;
  height: 3rem;


}

.cards .card-picture {
  max-width: 100%;
  height: auto;
  margin: 60px auto;
}

.cards .card-content {
  font-size: 1.3rem;
  font-family: 'Poppins';
  color: #585858;
  text-align: justify;
  width: 100%;
  margin-left: 0;
  margin-bottom: 30px;
  padding: 0 0;
}

.cards .btn{

  margin-top: 0px;
  width: 100%;
  height: 50px;

}

.btn--primary{
  
  background-color: #CC5500;
  font-family: 'Poppins';

}


@media (max-width: 767px) {

  .cards .card-content {
  font-size: 1rem;
  font-family: 'Poppins';
  color: #585858;
  text-align: left;
  width: 100%;
  margin-left: 0;
  margin-bottom: 30px;
  padding: 0 0;
}

}